.header {
    background-color: #a4c991;
    padding: 10px 20px;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
  }

  .nav{
    display: inline-flex;
  }

  h1{
      font-size: xx-large;
      text-align : center;
      color:maroon;
      text-decoration: solid;
      text-shadow: 2px 2px;
  }

  h1:hover{
    text-decoration:dotted;
  }

  h2{
    font-style: italic;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: orange;
    text-transform: capitalize;
    text-shadow: 2px 2px;
    text-decoration: dotted;
    color:rgb(39, 39, 225);
    text-align: center;
    overlay: 4px;
    position :relative;
    
  }

  p{
    font-style: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: dotted;
    color:#31082d;
    text-align: center; 
  }

  li{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: dark blue;
  }
  h2:hover{
    background-color: burlywood;
  }

  .container-div{
    align-items: center;
    align-self: center;
    width : 100vw;
    height : 50vh;
    justify-content:center;
    display:flex;
    border-radius: 5px;
    border-color: lightpink;
    box-shadow: 2px 2px;
    background: linear-gradient(rgb(219, 87, 87),rgb(233, 233, 144));
    position:relative;
  }

  .container-one{
    align-items: center;
    align-self: center;
    width : 100vw;
    height : 50vh;
    justify-content:center;
    border-radius: 4px;
    border-color: rgb(207, 122, 222);
    box-shadow: 1px 1px;
    background: linear-gradient(rgb(93, 83, 203),rgb(109, 225, 142));
    position:relative;
  }
 .container{
  align-items: center;
  align-self: center;
  width : 100vw;
  height : 50vh;
  justify-content:center;
  border-radius: 4px;
  border-color: rgb(59, 185, 168);
  box-shadow: 1px 1px;
  background: linear-gradient(rgb(158, 151, 231),rgb(224, 120, 125));
  position:relative;
 }